body {
    text-align: center;
    background-color: #3a8876;
    margin: 0;
    padding: 0;
}

header {
    background-color: #227e74;
    color: white;
    padding: 20px;
}

main {
    margin: 20px;
}

button {
    background-color: #558b9d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005f73;
}

footer {
    background-color: #7e2222;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 10;
    width: 100%;
}
